<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         id="WebApp_ID" version="6.0">
    <display-name>Lab5</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>ServletBeanUtils</display-name>
        <servlet-name>ServletBeanUtils</servlet-name>
        <servlet-class>bai1.ServletBeanUtils</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBeanUtils</servlet-name>
        <url-pattern>/ServletBeanUtils</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ServletMail</display-name>
        <servlet-name>ServletMail</servlet-name>
        <servlet-class>bai2.ServletMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMail</servlet-name>
        <url-pattern>/ServletMail</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ServletCookieSession</display-name>
        <servlet-name>ServletCookieSession</servlet-name>
        <servlet-class>bai3.ServletCookieSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCookieSession</servlet-name>
        <url-pattern>/ServletCookieSession</url-pattern>
    </servlet-mapping>
</web-app>